#results {
    display:none;
}
h1{
    color: darkblue;
}

body{
    background-image: url(Tipping\ the\ right\ way.gif);
    background-size: cover;
    background-repeat: no-repeat;
    
}